
<div class="grid grid-cols-1">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-3xl font-bold underline pb-5">Minesweeper Boards</h1>

  <div id="boards">
    <% @boards.each do |board| %>
      <%# render board %>
      <p>
        <%= link_to "#{board.board_name}", board %>
      </p>
    <% end %>
  </div>
</div>
<%# link_to "New board", new_board_path %>
