
<div class="grid grid-cols-1">
  <p style="color: green"><%= notice %></p>
  <%= render partial: 'board', locals: { board: @board, mine_board: @mine_board } %>
  <div>
    <%= link_to "Back to Home", home_path, class: "bg-black hover:bg-gray-200 text-white hover:text-black font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline my-4 inline-block"%>
  </div>
